* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
}

.articles {
    border: 1px solid cadetblue;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 5rem;
    font-size: 1.8rem;
}

.author {
    font-style: italic;
    font-size: 1.4rem;
    margin-top: 2rem;
    margin-bottom: 2.5rem;
    margin-left: 1.5rem;
    color: cadetblue;
}

input, textarea {
    display: block;
    margin-top: 3rem;
}

.form-content {
    margin: 5rem;
}

#navbar {
    width: 100%;
    height: 5vh;
    border: 1px solid black;
}

#navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 100%;
    height: 100%;
}

.articleContent{
    width: 80%;
    border: 1px solid black;
}

.commentDiv{
    border: 1px solid black;
}